#logo{
    background: url(/Assets/logo.png);
    background-size: contain;
    width: 180px;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
/* Mobi nav files */
:root{
    --nRed:#FFDF2B;
    --nWhite:#171717;
}
/* from here --nWhite= neutral900 --nred=primary */


#hamMenu{
    position: absolute;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.closedMenu{
    transform: translateX(-100%);
}
.closingMenu{
    animation: slideOut 1s;
    transform: translateX(-100%);
}
.openMenu{
    animation: slideIn 1s;
    transform: translateX(0%);
}
@keyframes slideOut{
    from{transform: translateX(0%); }
    to{transform: translateX(-100%);}
}
@keyframes slideIn{
    from{transform: translateX(-100%);}
    to{transform: translateX(0%);}
}

#redBg{
    z-index: 1;
    position: absolute;
    clip-path: polygon(0% 0%, 75% 0%, 100% 0, 71% 100%, 0% 100%);
    width: 98vw;
    height: 100vh;
    background-color: var(--nRed);
}

#whiteBg{
    z-index: 1;
    position: absolute;
    clip-path: polygon(0% 0%, 75% 0%, 100% 0, 71% 100%, 0% 100%);
    width: 95vw;
    height: 100vh;
    background-color: var(--nWhite);
}

#closeIc{
    background: url(/Assets/closeIc.png);
    background-color: var(--nRed);
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-size: contain;
    position: fixed;
    left: 85%;
    top: 5%;
    cursor: pointer;
}



#menuHeader{
    background: url(/Assets/logo.png);
    width: 35%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}

#menuContent{
    margin-top: 115px;
}


#menuFooter{
    position: fixed;
    top: 90%;
    left: 10%;
    font-weight: 500;
}
#menuFooter p a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--nRed);
}

#mobiLogo{
    position: absolute;
    background: url(/Assets/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    right: 10px;
    top: 5px;
}


@media screen and (min-width:768px){
    #mobiLogo{
        display: none;
    }
}